/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.seaction-heading{
  text-align: center;
  margin: 30px 30px;
  font-size: 2.5rem;
}
